.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote,
.textarea {
  font-size: 1.5rem;
}

.correct {
  color: #4caf50;
}

.incorrect {
  color: #d32f2f;
}

.correct,
.incorrect {
  text-decoration: underline;
}
